:root {
    --progress-bar-border-color: grey;
    --progress-bar-color: #caef74;
    --progress-bar-font-color: #6b8925;
    --progress-bar-warning: #fdc67c;
    --progress-bar-critical: #FF9194;
    --progress-bar-font-color-critical: #e00b3d;
    --progress-bar-unknown: #bcbdc0;
}